<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Chat box</title>
    <script src="../index.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <style>
        .has-bg-img {
            background-image: url("https://get.wallhere.com/photo/sunset-night-galaxy-space-sky-blue-Milky-Way-horizon-atmosphere-science-universe-astronomy-Homer-Simpson-constellation-midnight-star-darkness-2560x1440-px-computer-wallpaper-atmosphere-of-earth-outer-space-astronomical-object-phenomenon-837683.jpg");
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: initial;
            position: absolute;
        }

        .textTitle {
            font-weight: bold;
            font-style: oblique;
            font-size: 40px;
        }

        .header {
            color: antiquewhite;
            margin: 5px;
            text-align: center;
            position: static;
        }

        a {
            font-weight: bold;
            color: antiquewhite;
        }

        .form-inline.textlabel {
            font-weight: bold;
            color: antiquewhite;
        }
    </style>

</head>

<body>
    <div class="HomePage">
        <div data-overlay="overlay" class="has-bg-img">
            <div>
                <div class="header">
                    <p class="textTitle">
                        Welcome to ChatApp LindaHTV
                    </p>

                    <div class="warpper">
                        <%- include('pages/' + page) %>
                    </div>
                </div>
            </div>
            <!-- <div class="background">
                <img class="image-background" src="images/black.jpg">
                    <video class="herobanner video-background" preload="metadata" type="video/mp4" muted="" autoplay="" loop="" webkit-playsinline="autoplay">
                    <source src="https://assets.esri.com/content/dam/esrisites/en-us/see/overview/overview-video.mp4" type="video/mp4">
                </video>
            </div> -->
        </div>
    </div>
    <script>
        const socket = io.connect([
            'http://localhost:3000/login',
            'http://localhost:3000/sign'
        ]);
        $(document).ready(function () {
            $('#login').click(function () {
                socket.emit('client-send-email', $('#email').val());
            });
        });

        socket.on('server-send-login-failed', function () {
            alert("Login failed: Check your email & password !!!");
        });

        socket.on('server-send-register-succes', function (data) {
            alert("Welcome " + data + " to chat app Linda!!");
            // $('#currentUser').html(data);
        });

    </script>
</body>

</html>