<div style="margin-left: inherit;">
    <button name="Login" type="button" class="btn btn-success">
        <a href="http://localhost:3000/login">Login
    </button>
    <button name="Sign" type="button" class="btn btn-warning">
        <a href="http://localhost:3000/sign">Sign In
    </button>
    <button name="Forget" type="button" class="btn btn-danger">
        <a href="http://localhost:3000/sign">Forget
    </button>

</div>