
  <form class="form-inline" action="http://localhost:3000/login" method="POST">
    <div class="form-group">
      <label for="email"></label>
      <input type="email" class="form-control" id="email" placeholder="email@" name="email">
  </div>
    <div class="form-group">
      <label class="textlabel" for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd"  placeholder="*****" name="pwd">
    </div>
    <div class="checkbox">
      <label class="textlabel"><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-success">Login</button>
  </form>
