<form class="form-inline" action="http://localhost:3000/sign" method="POST">
    <div class="form-group">
        <label for="email"></label>
        <input type="email" class="form-control" id="email" placeholder="email@" name="email">
    </div><br>
    <div class="form-group">
        <input type="password" class="form-control" id="pass1" placeholder="Enter password" name="password">
    </div><br>
    <div class="form-group">
        <input type="password" class="form-control" id="confirm1" placeholder="Repeat password" name="pass_repeat">
    </div><br>
    <div class="form-group">
        <input type="text" class="form-control" id="name01" placeholder="Full Name" name="name">
    </div><br>
    <div class="form-group">
        <input type="text" class="form-control" id="addr" placeholder="Address" name="address">
    </div><br>
    <div class="form-group">
        <input type="text" class="form-control" id="phone" placeholder="Phone Number" name="phone">
    </div><br>
    <div class="form-group">
        <input type="text" class="form-control" id="work" placeholder="Working" name="work">
    </div><br>
    <div class="form-group">
        <input type="text" class="form-control" id="wpl" placeholder="Workplace" name="workplace">
    </div><br>
    <div class="form-group">
        <input type="number" class="form-control" id="age" placeholder="Your Age" name="age">
    </div><br>
    <div class="form-group">
        <input type="text" class="form-control" id="favorite" placeholder="Your favorite" name="favorite">
    </div><br>
    <div class="form-group">
        <input type="text" class="form-control" id="yourself" placeholder="Describe yourself" name="yourself">
    </div><br>
    <div class="form-group">
        <input type="text" class="form-control" id="scr" placeholder="Your security question?" name="security">
    </div><br>
    <div class="form-group">
        <input type="number" class="form-control" id="money" placeholder="Monthly income?" name="income">
    </div><br>
    <div class="form-group">
        <label for="status">Are you single ?</label>
        <input type="checkbox" class="form-control" id="alo" placeholder="Alone" name="alone">
        <label for="status">Yes Mày</label>
    </div><br>
    <button type="submit" class="btn btn-warning">Register</button><br>
</form>